@font-face {
  font-family: SocialNetwork;
  src: url("./../assets/fonts/Socialico-Regular.eot");
  src: url("./../assets/fonts/Socialico-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/Socialico-Regular.woff2") format("woff2"),
    url("./../assets/fonts/Socialico-Regular.woff") format("woff"),
    url("./../assets/fonts/Socialico-Regular.ttf") format("truetype");
}
