@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  color: rgb(63, 63, 63);
}

body {
  background-color: #f9fafb;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.main-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 0;
}

button:focus {
  outline: none;
  border: none;
}

.top-full {
  top: 100%;
}
.left-full {
  left: 100%;
}

.group:hover .group-hover\:block {
  display: block;
}

svg {
  fill: rgb(34, 34, 34);
}

.icon {
  width: 24px;
  height: 24px;
}
